/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: transparent;
  }
  
  .hero h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .hero-button {
    background-color: #297EC0;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .hero-button:hover {
    background-color: #3796df;
  }
  