/* Password Prompt Styling */
.password-prompt {
    text-align: center;
    padding: 50px;
  }
  
  .password-prompt h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .password-prompt form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .password-prompt input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 200px;
    text-align: center;
  }
  
  .password-prompt button {
    padding: 10px 20px;
    background-color: #297EC0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .password-prompt button:hover {
    background-color: #3796df;
  }
  
  .input-error {
    border-color: #e74c3c;
  }
  
  .error-message {
    color: #e74c3c;
    font-size: 14px;
  }
  